Alamofire
xcdebugger
.DS_Store
ShouldIRun.xcodeproj/project.xcworkspace/xcuserdata/LM.xcuserdatad/
ShouldIRun.xcodeproj/xcuserdata/LM.xcuserdatad/
ShouldIRun.xcodeproj/project.xcworkspace/xcuserdata/neil.xcuserdatad/UserInterfaceState.xcuserstate
ShouldIRun.xcodeproj/xcuserdata/neil.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.orig
*.playground
.xcuserdatad
xcuserdata/

.xctimeline

icon_psd
