xcdebugger
.DS_Store
Should I Run.xcodeproj/project.xcworkspace/xcuserdata/LM.xcuserdatad/
Should I Run.xcodeproj/xcuserdata/LM.xcuserdatad/
*.orig
*.playground
.xcuserdatad
xcuserdata/

.xctimeline

